---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- assign sorted_posts = site.posts | sort: "date" | reverse -%} {%- for post
in sorted_posts limit: 10 -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

<h3 class="posts-item-note" aria-label="Recent Insights">Recent Insights</h3>
{%- assign sorted_insights = site.insights | sort: "date" | reverse -%} {%- for
insight in sorted_insights limit: 10 -%}
<article class="post-item">
  <span class="post-item-date">{{ insight.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ insight.url }}">{{ insight.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}
